<form ng-controller="cardSettingsController">
    <div class="row">
        <div class="col-md-8">
            <div class="dummy-editor-form-group">
                <label for="elevation">{{'card.elevation' | translate}}:</label>
                <select id="elevation" class="dummy-editor-form-control" ng-model="item.elevation">
                    <option ng-repeat="e in ['0','1','2','3','4','5']" value='{{e}}'>{{'card.elevation-'+e | translate}}</option>
                </select>
            </div>
            <div class="dummy-editor-form-group">
                <label for="border-radius">{{'card.border-radius' | translate}}:</label>
                <input type="text" class="dummy-editor-form-control" id="border-radius" placeholder="{{'card.border-radius' | translate }}" ng-model="item.borderRadius">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-example-wrapper">
                <div class="card-example" style="{{options[item.elevation]}} border-radius:{{item.borderRadius}};
                margin-top: {{item.generics.data['margin-top']}}; margin-left: {{item.generics.data['margin-left']}};
                margin-right: {{item.generics.data['margin-right']}}; margin-bottom: {{item.generics.data['margin-bottom']}};
                padding-top: {{item.generics.data['padding-top']}}; padding-left: {{item.generics.data['padding-left']}};
                padding-right: {{item.generics.data['padding-right']}}; padding-bottom: {{item.generics.data['padding-bottom']}};
                background-color: {{item.generics.data['background-color']}};color: {{item.generics.data['color']}}; text-align: {{item.generics.data['text-align']}};">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%;height:30px">
    </div>
    <generic-settings ng-model="item.generics"></generic-settings>
</form>
<style>
    .card-example {
        height: 200px;
        left: 10px;
        right: 10px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        <!---webkit-box-shadow: {{_item.horizontalLength}}px {{_item.verticalLength}}px {{_item.blurRadious}}px {{_item.spreadRadious}}px rgba(0,0,0,0.48);
        -moz-box-shadow: {{_item.horizontalLength}}px {{_item.verticalLength}}px {{_item.blurRadious}}px {{_item.spreadRadious}}px rgba(0,0,0,0.48);
        box-shadow: {{_item.horizontalLength}}px {{_item.verticalLength}}px {{_item.blurRadious}}px {{_item.spreadRadious}}px rgba(0,0,0,0.48);-->
    }
</style>
