<form>
    <div class="dummy-editor-form-group">
        <label for="bgimage">{{'jumbotron.bgimage' | translate}}:</label>
        <div class="input-group">
          <div class="input-group-addon">URL</div>
          <input type="text" class="dummy-editor-form-control" id="bgimage" placeholder="{{'jumbotron.color' | translate }}" ng-model="item.imgbackground">
        </div>
    </div>
    <div class="dummy-editor-form-group">
        <label for="customid">{{'jumbotron.custom_id' | translate}}:</label>
        <input id="customid" type="text" class="dummy-editor-form-control" placeholder="{{'jumbotron.custom_id' | translate }}" ng-model="item.custom_id">
    </div>
    <generic-settings ng-model="item.generics"></generic-settings>
</form>
